<mat-card>
  <p>{{title}} #{{index}}</p>
  <p> Flight Number: {{launch.flight_number}}</p>
  <p> Mission Name: {{launch.mission_name}}</p>
  <button mat-raised-button color="primary" routerLink="/launchDetail/{{launch.rocket.rocket_id}}" >View Detail</button>
</mat-card>
